* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(32, 53, 83);
  gap: 3em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.but2 {
  padding: 1em 2em;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: rgba(32, 53, 83, 0.055);
}

.box {
  width: 300px;
  height: auto;
  border: 4px solid white;
  padding: 1em;
}

.hidden {
  display: none;
}

.hidden1 {
  display: block;
}
