* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/mac.jpeg);
  background-size: cover;
}

.cont1 {
  height: auto;
  width: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  gap: 2em;
  border-radius: 1em;
}

#timer {
  font-size: 2rem;
  font-weight: bold;
}

button {
  font-size: 1.2rem;
  padding: 0.2em 0.5em;
}

button:first-child {
  color: darkgreen;
  text-shadow: 0px 0px 2px black;
  background-color: #333;
}

button:last-child {
  color: darkred;
  background-color: #333;
  text-shadow: 0px 0px 2px black;
}
