* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(39, 61, 94); */
  background-image: linear-gradient(rgb(39, 61, 94), rgb(39, 61, 94), white);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 4rem;
}

.cont {
  height: 300px;
  width: 300px;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 1em;
}

button {
  background-color: rgba(39, 61, 94, 0);
  padding: 1em 2em;
  border: 2px solid white;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  border-radius: 1em;
}
